<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Chiles.My.MySettings.ChilesDBConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\RPTCH\DBCH\ChilesDB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
</configuration>